<h3> Add a Customer </h3> 
<form action="/staffaddcustomer1" method="post">
     Customer ID:<br>
     <input type="text" name="idCustomer" value=""><br>
     First Name:<br>
     <input type="text" name="FirstName" value=""><br>
     Last Name:<br>
     <input type="text" name="LastName" value=""><br>
	 Email Address:<br>
     <input type="text" name="EmailAddress" value=""><br>
	 Sex:<br>
     <input type="text" name="Sex" value=""><br><br>
     <input type="submit" value="Submit">
 </form>